/* Overall card style */
.contact-info .card{
    padding: 20px;
    background-color: #ffffff; /* White background for a clean look */
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    max-width: 350px; /* Limiting the width for consistency */
    margin: 20px auto; /* Center the card */
    font-family: 'Arial', sans-serif; /* Professional, clean font */
    width: auto;
}

/* Title style */
.contact-info .main-title {
    font-size: 1.9rem;
    font-weight: 600;
    margin-bottom: 25px;
    color: #eaecec; /* Dark grey text for readability */
    text-align: center; /* Center the title */
}

/* List style */
.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info li {
    display: flex;
    align-items: center;
    margin: 12px 0; /* Space between items */
}

/* Icon style */
.contact-info .icon {
    margin-right: 12px; /* Spacing between icon and text */
    color: #007bff; /* Consistent blue color for icons */
    font-size: 1.2rem;
}

/* Contact text styling */
.contact-info .contact-text {
    font-size: 2rem;
    color: #f7f1f1; /* Slightly lighter grey for text */
}

/* Links styling */
.contact-info a {
    color: #f4f7fa; /* Consistent blue color for links */
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline; /* Underline effect on hover */
}


.skills-section .main-title {
    font-size: 1.9rem;
    font-weight: 600;
    margin-bottom: 25px;
    color: #eaecec; /* Dark grey text for readability */
    text-align: center; /* Center the title */
}


.skills-section .skill-title {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 25px;
    color: #eaecec; /* Dark grey text for readability */
    text-align: center; /* Center the title */
}
.skills-section .progress {
    background-color: #76c7c0;
    height: 100%;
    transition: width 0.3s ease;
}
.progress-bar {
    background-color: #e0e0e0; /* Couleur de fond */
    border-radius: 5px;
    overflow: hidden;
    height: 20px; /* Hauteur de la barre */
    margin-bottom: 10px; /* Espacement entre les barres */
}

.progress {
    background-color: #76c7c0; /* Couleur de la progression */
    height: 100%; /* Pleine hauteur de la barre */
    width: 0; /* Commence à 0 et est défini via le style inline */
    transition: width 0.3s ease; /* Animation de la progression */
}


/* Mobile responsiveness */
@media (max-width: 480px) {
    .contact-info {
        padding: 15px; /* Reduce padding on small screens */
    }

    .contact-info .main-title {
        font-size: 1.4rem; /* Slightly smaller title */
        color: #f4f7fa; 
    }
}
